[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
ipykernel = "*"
numpy = "*"
matplotlib = "*"
plotly = "*"
bokeh = "*"

[requires]
python_version = "3.7"
